<!-- cabecalho principal -->
 <%- include('partials/header') %>

 <!-- conteudo do index-->
<main>
    <h1>Está pagina não existe</h1>
    <a href="/home">Clique aqui para ir para home</a>
    <img src="https://blog.task.com.br/wp-content/uploads/erro-404-task-internet.png" alt="">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7D1BO0a9vTo?si=sJ6we3FPhpKDxmLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</main>

<!-- rodape de todas as paginas -->
  <%- include('partials/footer') %>