<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= titulo %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100 justify-content-center">
    <!-- Conteúdo da sua página aqui -->
    <header></header>
    <main class="container w-50 text-center bg-info p-5">
        <!-- criação do formulario de login -->
        <form action="/usuarios/login" method="POST">
            <!-- caixinha de email -->
            <label for="inputEmail" class="form-label fs-2 mt-2"> Email</label>
            <input type="email" id="inputEmail" class="form-control form-control-lg text-center"
                placeholder="Digite seu email..." name="email">
            <!-- fim da caixinha de email -->

            <!-- caixinha de senha -->
            <label for="inputSenha" class="form-label fs-2 mt-2">Senha</label>
            <input type="password" class="form-control form-control-lg text-center" id="inputSenha"
                placeholder="Digite sua senha..." name="senha" />
            <!-- fim da caixinha -->

            <!-- Caixinha de alerta só aparece se ele errar o login -->
            <button type="submit" class="btn btn-primary btn-lg mt-2">Entrar</button>
        </form>

         <!-- Caixinha de alerta só aparece se ele errar o login -->
        <% if (typeof erro !== "undefined" ) { %>
            <!-- caixinha de alerta -->
            <div class="alert alert-danger text-center mx-auto mt-3" style="width: 50%;">
                Usuário ou senha inválido
            </div>
            <% } %>

    </main>

    <footer> </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>